<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grindrod Vessel Simulations</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="https://kit.fontawesome.com/365cb50038.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://sinay.fr/js/v1/sinay.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAVC2e6dDPYmiwfSlggNEiMKNQiXjaB-s8&callback=initMap" async defer></script>
</head>





<body>
    
    <div class="navbar">
        <img class="logo"  src="/static/grindrod-logo-color.svg" alt="" height="30">
        <a href="/">Container Tracking</a>
        <a href="/vessel_simulations">Vessel Simulations</a>
        <a href="#">Load Calculator</a>
        <a href="#">Distance and Time</a>
        <a href="#">Document Management</a>
    </div>

	<div class="linkbox">
		<a href="/Ship_in_configurable_ocean.html">Swell Sim</a>
        <a href="#">Mooring Swell</a>
        <a href="/vesseljs-master/examples/Side_by_side_operation_complex_case.html">Ship2Ship Transfer</a>
        <a href="/vesseljs-master/examples/path.html">Fuel Consumption Simulation</a>
        <a href="#">Document Management</a>
	</div>

</body>
</html>